/*=================
  Main Page Style
==================*/
* {
  box-sizing: border-box;
}
body {
  font-family: 'Vollkorn', serif;
  color: #eee;
  background-color: #333;
  font-size: 1.2em;
  text-align: center;
}
.degrees, .temp-units, .clock, .wind-speed, .wind-units, .time {
  font-family: 'Unica One', cursive;
}
.degrees {
  font-size: 6em;
  text-shadow: 8px 10px 10px rgba(0,0,0,0.6);
}

.temp-units, .clouds, .city, .wind-speed, .wind-units, .time {
  text-shadow: 6px 8px 8px rgba(0,0,0,0.6);
}
.temp-units {
  font-size: 2em;
  min-width: 1.2em;
  text-decoration: underline;
  color: hotpink;
  cursor: pointer;
}
.wind-speed, .wind-units {
  font-size: 2em;
}
.wind-speed {
  min-width: 1.3em;
  text-align: right;
}
.wind-units {
  min-width: 2em;
  padding-left: .2em;
  text-align: left;
}
.clouds {
  font-size: 3em
}
.city {
  font-size: 1.6em
}
.time {
  position: absolute;
  top: 15vh;
  right: 15vw;
  font-size: 1.8em;
}

/*=========
  Flexbox
==========*/

.flex-wrapper {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.temperature {
  display: flex;
  justify-content: center;
}
.temp-wind {
  display: flex;
}
